.nav-link {
    text-decoration: none;
    color: white;
}
.nav-link-active {
    color: white;
    .MuiListItem-button {
        background-color: #6743d3;
        background-color: rgba(91, 58, 180, 0.39);
        // border-radius: 25px 0 0 25px;
       
    }
    .MuiSvgIcon-root {
        color: #6743d3;
    }
   
}


