.label-text {
    span {
        line-height: 1;
        font-size: 1em;
    }
}

#center-axis-container {
    display: flex;
    flex-direction: row;
    flex-grow: .55;
    // width: 260px;
    height: 240px;
}